* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(248, 252, 252, 0.445);
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

#header-container {
    text-align: center;
    background-color: rgba(141, 193, 235, 0.521);
    box-sizing: border-box;
    padding: 10px;
}

#profile-section {
    display: flex;
    padding-top: 20px;
    margin: auto;
}

.profile-picture {
    padding-top: 10px;
}

.user-information li{
    padding: 5px;
    list-style-type: none;
    font-size: 1em;
}

footer ul {
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}

footer ul li {
    padding: 100px;
    display: inline;
}

.courses-section {
    text-align: center;
}

.courses-container {
    display: inline-block;
}

.courses-information {
    border-collapse: collapse;
}

.courses-information tr:nth-child(even) {
    background-color: aliceblue;
}

td, th {
    padding: 5px;
}

#footer-menu > li > a {
    color : black;
    text-decoration: none;
}

.courses-information tr th:nth-child(2),
.courses-information tr td:nth-child(2) {
    text-align: left;
}

table {
    border: 1px solid black;
}


td ~ td, th ~ th {
    border-left: 2px solid black;
}